<div class="jumbotron py-3">
  <h1 class="display-4 text-center">Users</h1>
</div>

<div class="row">
  <div class="col-md-6">
    <app-user></app-user>
  </div>
  <div class="col-md-6">
      <table class="table">
          <thead class="thead-light">
              <tr>
                  <th>Name</th>
                  <th>Age</th>
                  <th>Marks</th>
                  <th></th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let pd of userservice.list">
                  <td (click)="populateForm(pd)">{{pd.name}}</td>
                  <td (click)="populateForm(pd)">{{pd.age}}</td>
                  <td (click)="populateForm(pd)">{{pd.marks}}</td>
                  <td>
                      <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(pd.userID)"></i>
                  </td>
              </tr>
          </tbody>
      </table>
  </div>
</div>
